# Data files within Dashboard
Dashboard/data/trips/*
Dashboard/data/shapes/*
Dashboard/data/population/*
Dashboard/data/processed/*
!Dashboard/data/trips/.gitkeep
!Dashboard/data/shapes/.gitkeep
!Dashboard/data/population/.gitkeep
!Dashboard/data/processed/.gitkeep

# Log files
Dashboard/logs/*
!Dashboard/logs/.gitkeep

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/env/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/*.egg-info/
**/.installed.cfg
**/*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo